<p id="notice"><%= notice %></p>

<p>
  <strong>Laboratory department:</strong>
  <%= @location_location.Laboratory_Department %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @location_location.Manager %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @location_location.Mail %>
</p>

<p>
  <strong>User:</strong>
  <%= @location_location.User_id %>
</p>

<p>
  <strong>Device:</strong>
  <%= @location_location.Device_id %>
</p>

<p>
  <strong>Contract type:</strong>
  <%= @location_location.Contract_type_id %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @location_location.Supplier_id %>
</p>

<%= link_to 'Edit', edit_location_location_path(@location_location) %> |
<%= link_to 'Back', location_locations_path %>
