<%= form_for(@equipment_equipment) do |f| %>
  <% if @equipment_equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment_equipment.errors.count, "error") %> prohibited this equipment_equipment from being saved:</h2>

      <ul>
      <% @equipment_equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Stock_number %><br>
    <%= f.number_field :Stock_number %>
  </div>
  <div class="field">
    <%= f.label :Location %><br>
    <%= f.text_field :Location %>
  </div>
  <div class="field">
    <%= f.label :Provider_who_maintains %><br>
    <%= f.text_field :Provider_who_maintains %>
  </div>
  <div class="field">
    <%= f.label :id_user %><br>
    <%= f.number_field :id_user %>
  </div>
  <div class="field">
    <%= f.label :id_Supplier_integer %><br>
    <%= f.text_field :id_Supplier_integer %>
  </div>
  <div class="field">
    <%= f.label :id_Contract_type %><br>
    <%= f.number_field :id_Contract_type %>
  </div>
  <div class="field">
    <%= f.label :id_location %><br>
    <%= f.number_field :id_location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
