<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equipment_equipment.Name %>
</p>

<p>
  <strong>Stock number:</strong>
  <%= @equipment_equipment.Stock_number %>
</p>

<p>
  <strong>Location:</strong>
  <%= @equipment_equipment.Location %>
</p>

<p>
  <strong>Provider who maintains:</strong>
  <%= @equipment_equipment.Provider_who_maintains %>
</p>

<p>
  <strong>Id user:</strong>
  <%= @equipment_equipment.id_user %>
</p>

<p>
  <strong>Id supplier integer:</strong>
  <%= @equipment_equipment.id_Supplier_integer %>
</p>

<p>
  <strong>Id contract type:</strong>
  <%= @equipment_equipment.id_Contract_type %>
</p>

<p>
  <strong>Id location:</strong>
  <%= @equipment_equipment.id_location %>
</p>

<%= link_to 'Edit', edit_equipment_equipment_path(@equipment_equipment) %> |
<%= link_to 'Back', equipment_equipment_index_path %>
