<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_user.Name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user_user.Mail %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user_user.Login %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @user_user.Supplier_id %>
</p>

<p>
  <strong>Device:</strong>
  <%= @user_user.Device_id %>
</p>

<p>
  <strong>Contract type:</strong>
  <%= @user_user.Contract_type_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user_user.Location_id %>
</p>

<%= link_to 'Edit', edit_user_user_path(@user_user) %> |
<%= link_to 'Back', user_users_path %>
