<p id="notice"><%= notice %></p>

<p>
  <strong>Bussines name:</strong>
  <%= @supplier_supplier.Bussines_name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @supplier_supplier.Contact %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @supplier_supplier.Phone %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @supplier_supplier.Mail %>
</p>

<p>
  <strong>User:</strong>
  <%= @supplier_supplier.User_id %>
</p>

<p>
  <strong>Device:</strong>
  <%= @supplier_supplier.Device_id %>
</p>

<p>
  <strong>Contract type:</strong>
  <%= @supplier_supplier.Contract_type_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @supplier_supplier.Location_id %>
</p>

<%= link_to 'Edit', edit_supplier_supplier_path(@supplier_supplier) %> |
<%= link_to 'Back', supplier_suppliers_path %>
