<%= form_for(@device_device) do |f| %>
  <% if @device_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device_device.errors.count, "error") %> prohibited this device_device from being saved:</h2>

      <ul>
      <% @device_device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Stock_number %><br>
    <%= f.text_field :Stock_number %>
  </div>
  <div class="field">
    <%= f.label :Location %><br>
    <%= f.text_field :Location %>
  </div>
  <div class="field">
    <%= f.label :Provider_who_maintains %><br>
    <%= f.text_field :Provider_who_maintains %>
  </div>
  <div class="field">
    <%= f.label :User_id %><br>
    <%= f.text_field :User_id %>
  </div>
  <div class="field">
    <%= f.label :Supplier_id %><br>
    <%= f.text_field :Supplier_id %>
  </div>
  <div class="field">
    <%= f.label :Contract_type_id %><br>
    <%= f.text_field :Contract_type_id %>
  </div>
  <div class="field">
    <%= f.label :Location_id %><br>
    <%= f.text_field :Location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
