<p id="notice"><%= notice %></p>

<h1>Listing Device Devices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stock number</th>
      <th>Location</th>
      <th>Provider who maintains</th>
      <th>User</th>
      <th>Supplier</th>
      <th>Contract type</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_devices.each do |device_device| %>
      <tr>
        <td><%= device_device.Name %></td>
        <td><%= device_device.Stock_number %></td>
        <td><%= device_device.Location %></td>
        <td><%= device_device.Provider_who_maintains %></td>
        <td><%= device_device.User_id %></td>
        <td><%= device_device.Supplier_id %></td>
        <td><%= device_device.Contract_type_id %></td>
        <td><%= device_device.Location_id %></td>
        <td><%= link_to 'Show', device_device %></td>
        <td><%= link_to 'Edit', edit_device_device_path(device_device) %></td>
        <td><%= link_to 'Destroy', device_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_device_path %>
