<%= form_for(@contract_type_contract_type) do |f| %>
  <% if @contract_type_contract_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract_type_contract_type.errors.count, "error") %> prohibited this contract_type_contract_type from being saved:</h2>

      <ul>
      <% @contract_type_contract_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Type %><br>
    <%= f.text_field :Type %>
  </div>
  <div class="field">
    <%= f.label :Supplier_id %><br>
    <%= f.text_field :Supplier_id %>
  </div>
  <div class="field">
    <%= f.label :Device_id %><br>
    <%= f.text_field :Device_id %>
  </div>
  <div class="field">
    <%= f.label :User_id %><br>
    <%= f.text_field :User_id %>
  </div>
  <div class="field">
    <%= f.label :Location_id %><br>
    <%= f.text_field :Location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
