<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @contract_type_contract_type.Type %>
</p>

<p>
  <strong>Id supplier:</strong>
  <%= @contract_type_contract_type.id_Supplier %>
</p>

<p>
  <strong>Id equipment:</strong>
  <%= @contract_type_contract_type.id_Equipment %>
</p>

<p>
  <strong>Id user:</strong>
  <%= @contract_type_contract_type.id_User %>
</p>

<p>
  <strong>Id location:</strong>
  <%= @contract_type_contract_type.id_location %>
</p>

<%= link_to 'Edit', edit_contract_type_contract_type_path(@contract_type_contract_type) %> |
<%= link_to 'Back', contract_type_contract_types_path %>
