<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @contract_type_contract_type.Type %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @contract_type_contract_type.Supplier_id %>
</p>

<p>
  <strong>Device:</strong>
  <%= @contract_type_contract_type.Device_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @contract_type_contract_type.User_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @contract_type_contract_type.Location_id %>
</p>

<%= link_to 'Edit', edit_contract_type_contract_type_path(@contract_type_contract_type) %> |
<%= link_to 'Back', contract_type_contract_types_path %>
