<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>

<table>
  <thead>
    <tr>
      <th>Laboratory department</th>
      <th>Manager</th>
      <th>Mail</th>
      <th>Id user</th>
      <th>Id equipment</th>
      <th>Id contract type</th>
      <th>Id supplier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.Laboratory_Department %></td>
        <td><%= location.Manager %></td>
        <td><%= location.Mail %></td>
        <td><%= location.id_User %></td>
        <td><%= location.id_Equipment %></td>
        <td><%= location.id_Contract_type %></td>
        <td><%= location.id_Supplier %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
