<p id="notice"><%= notice %></p>

<p>
  <strong>Laboratory department:</strong>
  <%= @location.Laboratory_Department %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @location.Manager %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @location.Mail %>
</p>

<p>
  <strong>Id user:</strong>
  <%= @location.id_User %>
</p>

<p>
  <strong>Id equipment:</strong>
  <%= @location.id_Equipment %>
</p>

<p>
  <strong>Id contract type:</strong>
  <%= @location.id_Contract_type %>
</p>

<p>
  <strong>Id supplier:</strong>
  <%= @location.id_Supplier %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
